port={{ mongod_port }}
dbpath={{ mongod_unit_home }}/data
logpath={{ mongod_unit_home }}/log/mongod.log
pidfilepath={{ mongod_service_pid_file }}
fork={{ mongod_conf_fork }}
logappend={{ mongod_conf_logappend }}
logRotate=reopen
directoryperdb={{ mongod_conf_directoryperdb }}
{% if mongod_conf_auth %}
auth=true
{% endif %}
{% if mongod_conf_rest %}
rest=true
{% endif %}
{% if mongod_conf_slave and mongod_conf_master_source %}
slave=true
source={{ mongod_conf_master_source }}
autoresync=true
{% endif %}
{% if mongod_conf_master %}
master=true
{% endif %}
{% if mongod_conf_replSet %}
replSet={{ mongod_conf_replSet }}
{% endif %}